*{
    padding: 0;
    margin: 0;
}
p{
    font-family:Alegreya Sans,sans-serif,monospace;
    color: #686868;
}
.nav-bar{
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 0;
    position:fixed;
    top:0;
    overflow: hidden;
    width: 100%;
}
.nav-img{
    width: 50%;
    float: left;
    padding-left: 50px;
}
.nav-img a img{
    width: 20%;
    padding-left: 20px;
}
.list-menu{
    width: 35%;
    float: right;
}
.list-menu ul li{
    float: left;
    list-style: none;
    margin: 15px 20px;
}
.list-menu a{
    text-decoration: none;
    color: white;
}
.list-menu a:hover{
    color: orange;
}
#home{
    background-image: url(bg.jpg);
    background-size:cover;
    background-position:center center;
    position: static;
    z-index: 1;
    height: 100vh;
    background-color:rgba(0, 0, 0, .4);
    width: 100%;
}
.home-content{
    color: white;
    text-align: center;
    padding: 50PX 0;
    line-height: 40px;
}
.home-content p{
    color: rgba(204 ,204 ,204,1);
    font-size: 25px;
    margin: 50px 0;
    padding: 5px;
}
.home-content h1{
    font-size: 70px;
    margin-top: 50px;
    padding-top: 50px;
}
.home-content button{
    padding: 15px 25px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}
.btn1{
    border: solid 2px #8e7754;
    background-color: #8e7754;
    color: white;
}
.btn2{
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
.btn1:hover,.btn2:hover{
    background-color: white;
    color: black;
}
.pointer{
    display: block;
    width: 32px;
    height: 50px;
    margin: 50px auto;
    border: 2px solid hsla(0,0%,100%,.7);
    border-radius: 24px;
    bottom: 5%;
    cursor: pointer;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.section{
    width: 100%;
    height: auto;
    text-align: center;
}
.section-img{
    width: 50%;
    float: left;
}   
.section-img img{
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-content{
    text-align: center;
    width: 50%;
    margin-top: 50px;
    float: right;
    padding-top: 50px;
    line-height: 30px;
}
.section-content p{
margin-right: 50px;
margin-bottom: 20px;
padding-right: 50px;
}
.section-content h2{
    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 35px;
}
.details ul li{
    list-style: none;
}
.details ul{
    text-align: left;
    justify-content: center;
    align-items: center;
}
.details i{
    color: #8e7754;
    border: 1px solid grey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px 5px 0 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
.details p{
    display: inline;
} 
.section1{
        width: 100%;
        height: auto;
        text-align: center;
        background-color:#f8f8f8;
}

.section1-img{
    width: 50%;
    float: right;
}   
.section1-img img{
    width: 85%;
    margin-right: 50px;
    margin-top:50px;
    margin-bottom:50px;
}
.section1-content{
    text-align: center;
    width: 50%;
    margin-top: 50px;
    float:left;
    padding-top: 50px;
    line-height: 30px;
}
.section1-content p{
    margin-right: 50px;
    margin-bottom: 20px;
    padding-left:50px;
    }
    .section1-content h2{
        margin-top: 30px;
        margin-bottom: 15px;
        padding-left: 35px;
    }
.section2{
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.section2 h2{
    margin-top: 50px;
}
.section2 p{
    margin: 20px;
    padding: 15px;
}
.Superior-Breads{
    width:33% ;
    margin-top: 25px;
    float: left;
    text-align: center;
}
.Superior-Breads img{
    width: 80%;
}
.Superior-Breads p{
   padding: 10 50px;
    margin: 0 50px 50px;
}
.Superior-Breads h4{
    margin-top: 20px;
}
.map{
    width: 100%;
    height: auto;
    margin-top: 15px;
    text-align: center;
    background-color:#f8f8f8;
}
.ifram-map{
    width: 40%;
    padding-right: 5%;
    padding-top: 60px;
    float: right;
}   
.ifram-map iframe{
    width:85%;
}
.map-text{
    text-align: center;
    width: 48%;
    margin-top: 50px;
    float:left;
    padding-top: 25px;
    padding-left: 7%;
    line-height: 30px;
}
.map-text p{
    margin: 20px 50px 20px 0;
    padding-right: 50px;
    padding-left: 5px;
    }
    .map-text h2{
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .details-map ul li{
        list-style: none;
    }
    .details-map{
        text-align: left;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .details-map i{
        color: white;
        border: 1px solid grey;
        background-color: #8e7754;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 10px 0;
        padding: 8PX;
        font-size: 20px;
        font-weight: bold;
}
    .details-map ul  p{
        display: inline;
    }
/* footer{
    text-align: center;
}
.footer-content{
    background-color: #403d38;
     width: 100%;
    height: auto; 
}
.footer-content h4{
    color: white;
}
.text{
    width:10%;
    float: left;
} */



















.clr
{
    clear: both;
}