.container h1{
    font-family: Impact;
    text-shadow: 3px 1px 0px black;
    font-size: 80px;
}
.container p{
    font-size: 35px;
    font-family: 'Times New Roman';
}
.container button{
    border: 2px black solid;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background-color: blue;
    color: white;
}
.container button:hover{
    background-color: green;
}